{% extends 'base.html' %}

{% block title %}Blog {% endblock title %}


{% block body %}

<link rel="stylesheet" href="../../static/css/login.css" />
<link rel="stylesheet" href="../../static/css/base.css" />
<link rel="stylesheet" href="../../static/css/footer.css" />

<div class="container d-flex justify-content-center align-items-center"">
<div class="auth-container d-flex justify-content-center align-items-center">
  <div class="auth-box">
    <h1 class="text-center mb-4">Login</h1>
    <form method="post" action="{% url 'shopview' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">
      Don't have an account? <a href="/auth/signup/">Sign up</a>
    </p>
    <p class="text-center">
      <a href="/">Back to dashboard</a>
    </p>
  </div>
</div>

</div>

{% endblock body %}
