{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="../static/css/footer.css">

<footer>

    <div id="miss">

        <div id="miss1">
<div class="col">
<img src="../assests/zzzz.png" alt="">

<p> Deane Rd, Bolton</p>
<p class="phone-no">+ (0712) 819 79 555</p>
<p class="email-id">uniofbolton@ac.uk</p>

</div>
</div>

<div id="miss2">

<div class="col">
    <h3 id="cap">Company </h3>
    
    <p>Mission</p> 
    <P>About Us</P>
    <p>Why Choose Us</p>
    <p>Team</p>
        
</div>

</div>

<div id="miss3">
<div class="col">
    <h3 id="sir">Services</h3>
    <p>Pricing</p>
<p>Awards</p>
<p>Services</p>
<p>Testimonials</p>
</div>
</div>

<div id="miss4">
<div class="col">

    <h3 id="res">Resources</h3>
    <p>Contatcs</p>
    <p>Blogs</p>
    <p>F.A.Q</p>
    <p>Get a Quote</p>

</div>
</div>
<div id="miss5">
<div class="col">

<h2>Subscribe</h2>
<input type="email" id="email"  placeholder="Your Email"> 
<br>
<button id="buten"> Get Started</button>

<div class="copyright">
    <p>&copy; 2024 RoundSpheres. All Rights Reserved.</p>
</div>


</footer>

</div>
</div>
</div>




  
{% endblock body %}
