{% extends 'base.html' %}

{% block body %}

<link rel="stylesheet" href="../static/css/footer.css">

<footer class="bg-dark text-light pt-5 pb-4">
    <div class="container">
        <div class="row">
            <!-- Address Section -->
            <div class="col-md-3 mb-4">
                <img src="" alt="Logo" class="img-fluid mb-3">
                <p>Deane Rd, Bolton</p>
                <p class="phone-no mb-0">+ (0712) 819 79 555</p>
                <p class="email-id">uniofbolton@ac.uk</p>
            </div>

            <!-- Company Section -->
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Mission</a></li>
                    <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Why Choose Us</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Team</a></li>
                </ul>
            </div>

            <!-- Services Section -->
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Pricing</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Awards</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Services</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Testimonials</a></li>
                </ul>
            </div>

            <!-- Resources Section -->
            <div class="col-md-2 mb-4">
                <h5 class="fw-bold">Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Contacts</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Blogs</a></li>
                    <li><a href="#" class="text-light text-decoration-none">F.A.Q</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Get a Quote</a></li>
                </ul>
            </div>

            <!-- Subscribe Section -->
            <div class="col-md-3 mb-4">
                <h5 class="fw-bold">Subscribe</h5>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <button type="submit" class="btn btn-success w-100">Get Started</button>
                </form>
            </div>
        </div>

        <hr class="border-light">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 RoundSpheres. All Rights Reserved</p>
        </div>
    </div>
</footer>

  
{% endblock body %}
