{% extends 'base.html' %} {% comment %} kkk {% endcomment %}
<br />

{% block title %}Signup {% endblock title %} {% comment %} kkk {% endcomment %}
<br />
{% block body %}

<link rel="stylesheet" href="../static/css/signup.css" />

<div class="auth-container" 
>
  <div class="auth-box">
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'sendemails' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Choose a username"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Create a password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          placeholder="Confirm your password"
          required
        />
      </div>
      <button type="submit" class="btn">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/login/">Login</a></p>
  </div>
</div>

{% endblock body %}
